<h1><%= @user.username %>, your password has been reset!</h1>

<p>Your new password is <strong><%= @user.password %></strong></p>
<p>If this wasn't you, please contact us immediately.</p>
<p>You can login using this url: <%= @login_link %></p>

<p>Thank you!</p>
<p>Pow Wow Team</p>
