<h1><%= @user.username %>, someone requested a password reset on your account</h1>

<p> If this wasn't you please ignore this email.  </p>
<p> To reset your password click this link: <%= @url %>.  </p>

<p>Thank you!</p>
<p>Pow Wow Team</p>
